.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.main {
  padding: 0 10px;
  text-align: center; /* Center text */
}

.title {
  font-size: 2.5rem; /* Adjust as needed */
  color: var(--text-color);
  margin-bottom: 20px; /* Space below title */
}

.description {
  font-size: 1.25rem; /* Adjust as needed */
  color: var(--text-color);
  margin-bottom: 30px; /* Space below description */
}

.buttonBox {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between buttons */
  flex-wrap: wrap; /* Responsive layout */
}

.button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  border: 2px solid var(--primary-color);
  border-radius: 25px;
  font-size: 1.2rem; /* Adjust as needed */
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: var(--primary-color);
  color: rgb(221, 208, 208);
}

.icon {
  margin-right: 10px; /* Space between icon and text */
}
