.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background-color);
  animation: fadeIn 1s ease-in;
}

.main {
  padding: 0 10px;
  text-align: center;
}

.title {
  font-size: 3rem;
  color: var(--text-color);
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.description {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 30px;
}

.buttonBox {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background: var(--accent-color);
  border: 2px solid var(--primary-color);
  border-radius: 25px;
  font-size: 1.2rem;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: var(--yellowColor);
  color: var(--primary-color);
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.icon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: var(--blueColor); /* Blue accent color for icons */
}
