@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: 99;
}

.wrapper svg {
  width: 100%;
  height: 100%;
}

.wrapper svg text {
  font-family: "Sofia", serif;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #ffffff;
  font-size: 150px;
}

@keyframes stroke {
  0% {
    fill: rgba(54, 80, 16, 0);
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(54, 80, 16, 0);
    stroke: rgb(255, 255, 255);
  }
  80% {
    fill: rgba(54, 80, 16, 0);
    stroke: rgb(255, 255, 255);
    stroke-width: 3;
  }
  100% {
    fill: rgb(255, 255, 255);
    stroke: rgba(54, 80, 16, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
